/* import the necessary Bootstrap files */
@import "bootstrap";

/* ------- customize primary buttons -------- */   
$mynewcolor:teal;

.main_change {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.sellBuy{
  text-align: center;
}
.dollarSol{
  text-align: center;
}
.startSession{
  text-align: center;
}
.initSession {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  text-align: center;
}
/*#initButton{
  background-color: #40E0D0;
}*/

.btn-primary {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,20%));
}
.btn-outline-primary {
    @include button-outline-variant($mynewcolor, darken($mynewcolor,4%), lighten($mynewcolor,5%), $mynewcolor);
}
/*https://www.codeply.com/go/f3uTwmsCVZ*/
#compra {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#venta {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#dollarTxt {
  background-color: #0d6ba5; /*0d6ba5 blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 9%;
}
#solTxt {
  background-color: #0d6ba5; /*0d6ba5 blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 9%;
}

#sol{
  width: 15%;
  height: 5%;
  padding: 12px 10px;
  margin: 0px 0;
  box-sizing: border-box;
}
#dollar{
  width: 15%;
  height: 5%;
  padding: 12px 10px;
  margin: 0px 0;
  box-sizing: border-box;
}