
.boxExchange{
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  width: 60%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.sellBuy{
  text-align: center;
}
.dollarSol{
  text-align: center;
}
.startSession{
  text-align: center;
}
.initSession {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  text-align: center;
}
/*#initButton{
  background-color: #40E0D0;
}*/

.btn-primary {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,20%));
}
.btn-outline-primary {
    @include button-outline-variant($mynewcolor, darken($mynewcolor,4%), lighten($mynewcolor,5%), $mynewcolor);
}
/*https://www.codeply.com/go/f3uTwmsCVZ*/
#compra {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#venta {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#dollarTxt {
  background-color: #0d6ba5; /*0d6ba5 blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 20%;
}
#solTxt {
  background-color: #0d6ba5; /*0d6ba5 blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 20%;
}

#sol{
  width: 25%;
  height: 4%;
  padding: 12px 10px;
  margin: 0px 0;
  box-sizing: border-box;
  font-size: 18px;
}
#dollar{
  width: 25%;
  height: 4%;
  padding: 12px 10px;
  margin: 0px 0;
  box-sizing: border-box;
  font-size: 18px;
}